-i https://pypi.org/simple
backports.functools-lru-cache>=1.6.4
certifi>=2021.5.30
chardet>=4.0.0
cheroot>=8.5.2
cherrypy>=18.6.0
coloredlogs>=15.0
humanfriendly>=9.1
idna>=3.2
jaraco.functools>=3.3.0
more-itertools>=8.8.0
pocketsphinx>=0.1.17
portend>=2.7.1
pyaudio>=0.2.11
python-vlc>=3.0.12118
pytz>=2021.1
pyyaml>=5.4.1
requests>=2.25.1
six>=1.16.0
tempora>=4.0.2
urllib3>=1.26.5
webrtcvad>=2.0.10
zc.lockfile>=2.0
wheel>=0.36.2
Wave>=0.0.2
python-memcached>=1.59
wsgiref>=0.1.2
pyalsaaudio>=0.9.0
py-getch>=1.0.1
RPi.GPIO>=0.7.0
